ESIOS_TOKEN=cb708bd90f7fc46bc5beb63b7783e85e7880c9dea5a24cd48fbc41bf87e70833
AEMET_API_KEY=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJkYXZpZGxvcGV6c29sZXJhMTBAZ21haWwuY29tIiwianRpIjoiMTZmYWYzMjEtYmUxMy00MzUzLTk1NGEtMTQzZjExYzFjMTk5IiwiZXhwIjoxNzk4NzkxMDgyLCJpc3MiOiJBRU1FVCIsImlhdCI6MTc5MDE1MTA4MiwidXNlcklkIjoiMTZmYWYzMjEtYmUxMy00MzUzLTk1NGEtMTQzZjExYzFjMTk5Iiwicm9sZSI6IiJ9.lN9oOzgJyo5-luAht2iEPPkGLvmORMFNnpmJsFvZqqw